%main.service

  %section.hero
    .data-container
      .inner
        %h1.title Станция технического обслуживания
        %p.text Диагностика, техническое обслуживание и ремонт Вашего автомобиля. Полный спектр работ от команды автосервиса TechRacing.
        = link_to '#call-back', id: 'js-call-back' do
          .cta Записаться на ремонт

  %section.bullets
    .data-container
      .bullet
        .header
          %h2.title 1. Диагностика автомобиля
        %p.text Услуги по комплексной диагностике автомобилей: компьютерная диагностика, диагностика ходовой части, безразборная дефектовка состояния двигателя, а также инструментальная диагностика для проверки конкретных подсистем.
      .bullet
        .header
          %h2.title 2. Техническое обслуживание
        %p.text Выполняем работы по проведению полного технического обслуживания автомобилей в соответствии с картами ТО, а именно контроль и замену технических жидкостей, фильтров, тормозных дисков и колодок, ремкомплектов ГРМ.
      .bullet
        .header
          %h2.title 3. Ремонт ходовой части
        %p.text Весь спектр работ по замене и ремонту элементов подвески, рулевого управления, тормозной системы, выхлопа. Обслуживание элементов системы впрыска. Замена двигателей в сборе, коробок передач, комплектов сцепления.
      .bullet
        .header
          %h2.title 4. Ремонт тормозных систем
        %p.text Полная переборка, пескоструй и покраска тормозных суппортов, изготовление поршней из нержавеющей стали. Обслуживание направляющих суппортов. Замена тормозных магистралей на медные c дополнительной защитой термоусадочными трубками.
      .bullet
        .header
          %h2.title 5. Ремонт двигателей
        %p.text Частичный и капитальный ремонт двигателей внутреннего сгорания. Работаем с любыми конфигурациями: рядные, V-образные, оппозиты Subaru, а также роторные. Все измерения только в соответствии с оригинальной документацией.
      .bullet
        .header
          %h2.title 6. Автоэлектрика
        %p.text Решение любых проблем с электрической частью Вашего автомобиля, а также услуги по установке дополнительного оборудования: парктроники, сигнализации, автозвук, свет.

  %section.call-back{id: 'call-back'}
    .data-container
      .title Записаться на диагностику или ремонт
      .call-back-form
        = form_tag callback_request_path, method: "post", id: 'call-back-validate' do

          = hidden_field_tag :session_id , session.id
          = hidden_field_tag :source , user_activity_source

          .form-group
            .ui-input.first
              = text_field_tag :name, '', class: 'form-control', required: '', placeholder: 'Имя'

          .form-group
            .ui-input
              = text_field_tag :phone, '', class: 'form-control', required: '', placeholder: 'Телефон', :"data-mask" => '(999) 999-9999'

          .form-group
            .ui-input.last
              = submit_tag 'Записаться', class: 'cta'

= render 'flash_modal'
